<mat-toolbar color="primary">
  <span>Your financial portfolio</span>
</mat-toolbar>
<br>

<mat-toolbar color="primary">
  <span class = "margin-small" (click)="itemClicked()">NSC</span>
  <span class = "margin-small">TD</span>
  <span class = "margin-small">RD</span>
  <span class = "margin-small">LIC</span>
  <span class = "margin-small">PPF</span>
  <span class = "margin-small">KVP</span>
</mat-toolbar>

<app-table-display *ngIf="isItemClicked"
  [displayedCols]="displayedCols"
  [data] = "dataSource"
  >
</app-table-display>


